* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Fira Sans', sans-serif;
}

header {
    padding-top: 50px;
    padding-bottom: 50px;

    h1 {
        color: #AAA;
        font-size: 36px;
        font-weight: 400;
        text-align: center;
    }
}